tile-color($n)
  if $n >= 128
    font-size: 28px
  if $n == 2
    color: #776e65
    background-color: #eee4da
  else if $n == 4
    color: #776e65
    background-color: #ede0c8
  else if $n == 8
    color: #ffffff
    background-color: #f2b179
  else if $n == 16
    color: #ffffff
    background-color: #ec8d54
  else if $n == 32
    color: #ffffff
    background-color: #f67c5f
  else if $n == 64
    color: #ffffff
    background-color: #ea5937
  else if $n == 128
    color: #ffffff
    background-color: #f3d86b
  else if $n == 256
    color: #ffffff
    background-color: #f1d04b
  else if $n == 512
    color: #ffffff
    background-color: #e4c02a
  else if $n == 1024
    color: #ffffff
    background-color: #e2ba13
  else if $n == 2048
    color: #ffffff
    background-color: #ecc400
  else if $n == 4096
    color: #ffffff
    background-color: #5fda93